logs
*.logs

# Compiled binary addons
build/Release

# Build results
**/[b|B]in/
**/[o|O]bj/

# Dependency directories
node_modules
jspm_packages
bower_components
.pnp
.pnp.js
.env

# Ignore .git
.git